.container-1 {
  margin: 20px;
}

h2 {
  margin-bottom: 10px;
}

.form-container {
  margin-bottom: 20px;
}

.form-row {
  margin-bottom: 10px;
}

.item-table {
  width: 100%;
  border-collapse: collapse;
}

.item-table th,
.item-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.item-table th {
  background-color: #f0f0f0;
}

.item-table button {
  margin-right: 5px;
}

.edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.edit-modal h2 {
  margin-bottom: 10px;
}

.edit-modal label {
  display: block;
  margin-bottom: 5px;
}

.edit-modal input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.edit-modal button {
  margin-right: 5px;
}

.container {
  postion: relative;
}
.image {
  background-image: url("https://uploads-ssl.webflow.com/611b82111c177de53409c4b5/61279f2e0c2bf63f579dfbb4_inventory-management-p-1080.png");
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opcaity: 0;

  background-size: cover;
  background-position: center;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-content {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-footer {
  margin-top: 20px;
}

.login-footer a {
  color: #007bff;
  text-decoration: none;
}
